/*
_link.scss
*******************************************************************************************************************/
/* -----------------------------------------------
/* Link      [lnk-***] 
-------------------------------------------------- */

/* -----------------------------------------------
/* Button    [btn-***]
-------------------------------------------------- */
/*  wrap-btn
-------------------------------------------------- */
.wrap-btn {
    @include fxrow-jc;
    
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: $bp-sm) {
    .wrap-btn {
        margin-top: 50px;
    }
}

/*  btn-type
-------------------------------------------------- */
.btnPrim--thema {
    max-width: 300px;
    height: 60px;
    @include infxrow-ac-jc;
    -webkit-user-select: none;
    position: relative;
    width: 100%;
    color: currentColor;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1.5px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    @include transition(.1s);
    
    span{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 15px;
        @include fxrow-ac;
        -ms-flex-align: center;
        font-size: 1.4rem;
    }
    
    &:hover{
        opacity: .8;
    }
}

/* thema */
.btnPrim--thema {
    color: #fff !important;
    @include gradient-bg-t1;
}
