/*
_link.scss
*******************************************************************************************************************/
/* -----------------------------------------------
/* Link      [lnk-***] 
-------------------------------------------------- */

/* -----------------------------------------------
/* Button    [btn-***]
-------------------------------------------------- */
/*  wrap-btn
-------------------------------------------------- */
.wrap-btn {
    @include fxrow-jc;
    width: 100%;
    margin-top: 30px;
}

@media (min-width: $bp-sm) {
    .wrap-btn {
        margin-top: 50px;
    }
}

/*  btn-type
-------------------------------------------------- */
.btnPrim--thema {
    @include infxrow-ac-jc;
    -webkit-user-select: none;
    position: relative;
    min-width: 300px;
    height: 60px;
    color: currentColor;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1.5px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    @include transition(.1s);
    
    &:hover{
        opacity: .8;
    }
}

/* thema */
.btnPrim--thema {
    color: #fff !important;
    @include gradient-bg-t1;
}
