/*
_page.scss
*******************************************************************************************************************/

/* -----------------------------------------------
/* topPage     [h-***]
-------------------------------------------------- */


/*  serviceHeader
-------------------------------------------------- */
.serviceHeader{
    &__img{
        position: relative;
        padding-top: 50%;
        margin-top: 30px;
        box-shadow: 20px 20px 60px rgb(0 0 0 / 10%);
    }
    
    &__photo{
        @include po--ac;
        @include bgimg--cv("../images/service--app.jpg");
        width: 100%;
        height: 100%;
    }
}

@media (min-width: $bp-md) { 
    .serviceHeader{
        &__img{
            margin-top: 50px;
        }
    } 
}

/*  serviceContent
-------------------------------------------------- */
.serviceContent{
    .service01,
    .service02,
    .service03{
        background-color: #fff;
        
        &__content{
            .row [class*="col"]{margin-bottom: 40px;}
        }
        
        /*  serviceDesc */
        .serviceDesc__img{
            position: relative;
            padding-top: 50%;
            margin-top: 10px;
            box-shadow: 20px 20px 60px rgb(0 0 0 / 10%);
        }
        .serviceDesc__photo{
            @include po--ac;
            @include bgimg--cv("../images/service--01.jpg");
            width: 100%;
            height: 100%;
        }
        
        /*  serviceService */
        .serviceService{
            &__content{
                max-width: 430px;
                height: 320px;
                padding: 15px;
                margin-right: auto;
                margin-left: auto;
                border: 2px solid #183784;
                @include fxcol-ac-jsa;
                text-align: center;
                h5{
                    font-size: 1.7rem;
                    font-weight: 500;
                    color: #183784;
                }
                p{text-align: left;}
            }
        }
        
        /*  serviceConsept */
        .serviceConsept{
            &__content{
                dl{margin-bottom: 15px;}
                dd{font-weight: 400; font-size: 1.2rem; line-height: 1.7;}
                .arr-green{color: #019798; margin-right: 5px;}
                .arr-purple{color: #8b4a8a; margin-right: 5px;}
                .arr-oranged{color: #fe6665; margin-right: 5px;}
            }
        }
    }
}


@media (min-width: $bp-md) {
    .serviceContent{
        .service01,
        .service02,
        .service03{
            &__content{
                .row [class*="col"]{margin-bottom: 50px;}
            }
            
            .serviceDesc{
                &__img{margin-top: 50px;}
            }
            
            .serviceService{
                &__content{
                    height: 370px;
                    
                    h5{
                        font-size: 2.0rem;
                        font-weight: 500;
                        color: #183784;
                    }
                }
            }  
            
            .serviceConsept{
                &__content{
                    margin-top: 50px;
                    dl{margin-bottom: 15px;}
                    dd{font-size: 1.4rem; line-height: 1.7;}
                } 
            }
        } 
    }
}






/*  news
-------------------------------------------------- */
.newsContainer{
    height: 200px;
    overflow-y: scroll; 
    font-size: 1.2rem;
}

.news{
    &__content {
        @include fxrow;
        @include --fxwrap;
        margin-bottom: 5px;
    }
    
    &__date {
        display: inline-block;
        margin-right: 10px;
        padding: 5px 0;
        font-weight: 500;
        color: $color-g0;
        
    }
    
    &__tag--news {
        margin-right: 10px;
        padding: 5px 0;
        
        span {
            padding: 0 3px;
            border-radius: 5px;
            font-size: .8em;
            font-weight: 400;
            color: #fff;
            background-color: $color-b1;
        }
    }
}


@media (min-width: $bp-md) {
    .newsContainer{
        height: 240px;
        overflow-y: scroll; 
        font-size: 1.5rem;
    }
    .news{
        &__content {
            margin-bottom: 7px;
        }
        
        &__date {
            margin-right: 20px;
        }
        
        &__tag--news {
            margin-right: 30px;
        }
        
        &__txt {
            width: calc(100% - 20em);
            padding: 5px 0;
            
            &:hover{
                text-decoration: underline;
            }
        }
    }
}