/*
_page.scss
*******************************************************************************************************************/

/* -----------------------------------------------
/* topPage     [h-***]
-------------------------------------------------- */


/*  serviceHeader
-------------------------------------------------- */
.serviceHeader{
    &__img{
        position: relative;
        padding-top: 50%;
        margin-top: 30px;
        box-shadow: 20px 20px 60px rgb(0 0 0 / 10%);
    }
    
    &__photo{
        @include po--ac;
        @include bgimg--cv("../images/service--app.jpg");
        width: 100%;
        height: 100%;
    }
}

@media (min-width: $bp-md) { 
    .serviceHeader{
        &__img{
            margin-top: 50px;
        }
    } 
}

/*  serviceContent
-------------------------------------------------- */
.serviceContent{
    padding-top: 150px;
    padding-bottom: 1px;
    margin-top: -100px;
    background-color: #f7f7f7;
    
    /*  service0* 共通 */
    .service01,
    .service02,
    .service03{
        position: relative;
        padding: 30px 15px;
        margin-bottom: 350px;
        background-color: #fff;
        box-shadow: 20px 20px 60px rgb(0 0 0 / 10%);
        
        &__lead{
            margin-bottom: 45px;
        }
        
        &__content{
            .row [class*="col"]:not(:last-child){
                margin-bottom: 50px;
            }
        }
        
        /*  serviceDesc */
        .serviceDesc__img{
            position: relative;
            padding-top: 50%;
            margin-top: 10px;
            box-shadow: 20px 20px 60px rgb(0 0 0 / 10%);
        }
        .serviceDesc__photo{
            @include po--ac;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            width: 100%;
            height: 100%;
        }
        
        /*  serviceService */
        .serviceService{
            &__content{
                max-width: 430px;
                height: 320px;
                padding: 15px;
                margin-right: auto;
                margin-left: auto;
                border: 2px solid;
                @include fxcol-ac-jsa;
                text-align: center;
                h5{
                    font-size: 1.7rem;
                    font-weight: 500;
                }
                p{text-align: left;}
            }
        }
        
        /*  serviceConsept */
        .serviceConsept{
            &__content{
                dl{margin-bottom: 15px;}
                dd{font-weight: 400; font-size: 1.2rem; line-height: 1.7;}
                .arr-green{color: #019798; margin-right: 5px;}
                .arr-purple{color: #8b4a8a; margin-right: 5px;}
                .arr-oranged{color: #fe6665; margin-right: 5px;}
            }
        }
    }
    
    /*  service0* オリジナル */
    .service01{
        .ttl-lvl3{
            &::before{ content: "#01";} 
        }
        
        .serviceService{
            &__content{
                border-color: #183784;
                h5{color: #183784;}
            }
        }
        
        &__illustBg{
            width: 330px;
            height: auto;
            margin-right: auto;
            margin-left: auto;
            position: absolute;
            bottom: -330px;
            right:50%;
            transform: translateX(50%);
            
            img{width: 100%;}
        }
    }
    
    .service02{
        .ttl-lvl3{
            &::before{ content: "#02";} 
        }
        
        .serviceService{
            &__content{
                border-color: #dd7e8e;
                h5{color: #dd7e8e !important;}
            }
        }
        
        &__illustBg{
            width: 280px;
            height: auto;
            margin-right: auto;
            margin-left: auto;
            position: absolute;
            bottom: -350px;
            right:50%;
            transform: translateX(50%);
            
            img{width: 100%;}
        }
    }
    
    .service03{
        .ttl-lvl3{
            &::before{ content: "#03";} 
        }
        
        &__illustBg{
            width: 330px;
            height: auto;
            margin-right: auto;
            margin-left: auto;
            position: absolute;
            bottom: -330px;
            right:50%;
            transform: translateX(50%);
            
            img{width: 100%;}
        }
    }
}


@media (min-width: $bp-md) {
    .serviceContent{
        padding-top: 200px;
        
        /*  service0* 共通 */
        .service01,
        .service02,
        .service03{
            padding: 0 30px;
            margin-bottom: 280px;
            
            .serviceDesc{
                &__img{margin-top: 30px;}
            }
            
            .serviceService{
                &__content{
                    height: 370px;
                    
                    h5{
                        font-size: 2.0rem;
                        font-weight: 500;
                        color: #183784;
                    }
                }
            }  
            
            .serviceConsept{
                &__content{
                    margin-top: 50px;
                    dl{margin-bottom: 15px;}
                    dd{font-size: 1.4rem; line-height: 1.7;}
                } 
            }
        }
        
        
        /*  service0* オリジナル */
        .service01{
            .ttl-lvl3{
                &::before{ content: "#01";} 
            }
            
            .serviceService{
                &__content{
                    border-color: #183784;
                    h5{color: #183784;}
                }
            }
            
            &__illustBg{
                width: 400px;
                bottom: -240px;
                right:-130px;
                transform: translateX(0%);
            }
        }
        
        .service02{
            .ttl-lvl3{
                &::before{ content: "#02";} 
            }
            
            .serviceService{
                &__content{
                    border-color: #dd7e8e;
                    h5{color: #dd7e8e !important;}
                }
            }
            
            &__illustBg{
                width: 330px;
                bottom: -280px;
                right:-130px;
                transform: translateX(0%);
            }
        }
        
        .service03{
            .ttl-lvl3{
                &::before{ content: "#03";} 
            }
            
            &__illustBg{
                width: 400px;
                bottom: -240px;
                right:-130px;
                transform: translateX(0%);
            }
        }
    }
}


/*  company
-------------------------------------------------- */
.companyContent{
    & >*:not(:last-child){
        margin-bottom: 50px;
    }
}

.companyProfile{
    font-size: 1.2rem;
    
    dl{
        @include --fx;
        border-bottom: 1px solid #e9e9e9;
    }
    
    dt{
        width: 80px;
        padding: 5px 0;
    }
    
    dd{
        font-weight: 400;
        padding: 5px 0;
    }
}

.businessList,
.mediaList{
    li{
        font-size: 1.2rem;
        font-weight: 400;
        border-bottom: 1px solid #e9e9e9;
    }
    
    a{
        color: $color-t1;
        text-decoration: underline;
        
        &:hover{text-decoration: none;}
    }
}

@media (min-width: $bp-md) {
    
}