/*
_typography.scss
*******************************************************************************************************************/

/* -----------------------------------------------
/* Paragraph  [prg-***]
-------------------------------------------------- */
[class*="prg-"] {margin-bottom: 15px;}
.prg-xl {font-size: 1.8rem;line-height: 2.0; font-weight: 500;}
.prg-l {font-size: 2.0rem;line-height: 1.8;}
.prg-m {font-size: 1.4rem;line-height: 1.8;}
.prg-s {font-size: 1.2rem;line-height: 1.5; font-weight: 400;}

[class*="prg-"] .richtext p a {
    text-decoration: underline;
}

@media (min-width: $bp-md) {
    [class*="prg-"] {margin-bottom: 20px;}
    .prg-xl {font-size: 2.0rem; line-height: 2.0;}
    .prg-l  {font-size: 2.5rem; line-height: 2.2;}
    .prg-m  {font-size: 1.5rem; line-height: 1.8;}
    .prg-s  {font-size: 1.2rem; line-height: 1.5;}
}

// @media (max-width: $bp-md) {
    //     [class*="prg-"] .richtext p br {display: none;}
    // }
    
    
    /* -----------------------------------------------
    /* Title    [ttl-***]
    -------------------------------------------------- */
    
    /* ttl-lvl2
    -------------------------------------------------- */
    .ttl-lvl2--mission,
    .ttl-lvl2--service,
    .ttl-lvl2--company {
        position: relative;
        margin-top: 20px;
        margin-bottom: 60px;
        
        & > [class*="hdg-"] {
            color: #535353;
            font-weight:600;
            line-height: 1.5;
        }
        
        &::before{ 
            content: "";
            font-size: 2rem;
            font-weight: 600;
            text-transform: uppercase;
            @include gradient-txt-t1;
            opacity: .3;
        }
        
        &::after{
            content: "";
            display:block;
            position:absolute;
            bottom: -30px;
            height: 4px;
            width: 65px;
            @include gradient-bg-t1;
            opacity: .6;
        }
    }
    
    .ttl-lvl2--mission::before{content: 'mission';}
    .ttl-lvl2--service::before{content: 'service';}
    .ttl-lvl2--company::before{content: 'company';}
    
    
    @media (min-width: $bp-md) {
        .ttl-lvl2--mission,
        .ttl-lvl2--service,
        .ttl-lvl2--company {
            margin-bottom: 80px;
            
            & > [class*="hdg-"] {
                font-weight:600;
                letter-spacing: 2px;
            }
            
            &::before{ 
                content: "";
                font-size: 11rem;
                font-weight: 600;
                letter-spacing: 4px;
                opacity: .2;
            }
            
            &::after{
                content: "";
                bottom: -45px;
            }
        }
        
        .ttl-lvl2--mission{
            &::before{ 
                content: "mission";
                position:absolute;
                top: 130px;
                left: -385px;
                @include transform-ro(90deg);
            }
        }
        
        .ttl-lvl2--service{
            &::before{ 
                content: "service";
                position:absolute;
                top: 230px;
                left: -5px;
            }
        }
        
        .ttl-lvl2--company{
            text-align: center;
            
            &::before{ 
                content: "company";
                position:absolute;
                top: -188px;
                right: 110px;
            }
            
            &::after{
                position:absolute;
                right: 50%;
            }
        }
    }
    
    /* ttl-lvl3
    -------------------------------------------------- */
    .ttl-lvl3 {
        position: relative;
        margin-top: 40px;
        margin-bottom: 20px;
        
        & > [class*="hdg-"] {
            color: #333;
            font-weight:500;
            line-height: 1.5;
        }
        
        &::before{ 
            content: "";
            position:absolute;
            top: -45px;
            color: #bdbdbd;
            font-size: 2.5rem;
            font-weight: 500;
        }
    }
    
    @media (min-width: $bp-md) {
        .ttl-lvl3 {
            margin-top: 60px;
            margin-bottom: 45px;
            
            &::before{ 
                position:absolute;
                top: -65px;
                font-size: 4rem;
            }
        }
    }
    
    
    /* ttl-lvl4
    -------------------------------------------------- */
    .ttl-lvl4 {
        position: relative;
        padding-left: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: -4px;
            height: 37px;
            width: 4px;
            @include gradient-bg-t1;
        }
        
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 4px;
            width: 100%;
            background-color: #d6d6d6;
        }
        
        & > [class*="hdg-"] {
            font-weight:500;
            line-height: 1.5;
        }
        
    }
    
    @media (min-width: $bp-md) {
        .ttl-lvl4 {
            margin-bottom: 15px;
            
            &::before{
                height: 40px;
            }
        }
    }
    
    
    /* -----------------------------------------------
    /* Headings  [hdg-***]
    -------------------------------------------------- */
    .hdg-2 {font-size: 3.0rem;}
    .hdg-3 {font-size: 2.5rem;}
    .hdg-4 {font-size: 1.8rem;}
    
    @media (min-width: $bp-md) {
        .hdg-2 {font-size: 5.0rem; line-height: 1.75;}
        .hdg-3 {font-size: 4.0rem;}
        .hdg-4 {font-size: 2.0rem;}
    }
    
    