/*
_footer.scss
*******************************************************************************************************************/

/* gototop
-------------------------------------------------- */
.pagetop{
    position: fixed;
    right: 15px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: #333;
    border: 1px solid #fff;
    opacity: .9;
    
    & > a {
        width: 100%;
        height: 100%;
        @include fxrow-ac-jc;
        @include transition(.1s);
        
        i{
            font-size: 2.2rem;
            color: #fff;
        }
        
        &:hover {
            color: #fff;
            background-color: $color-t1;
        }
    }
}

@media (min-width: $bp-md){
    .pagetop{
        right: 100px;
        bottom: 25px;
    }
}

/* copyWrap
-------------------------------------------------- */
.copyWrap{
    padding:0 !important;
    color: #fff;
    font-size: 1.0rem;
    background-color: #333; 
    
    .copyBody{
        padding: 10px 0;
        @include fxcol-ac-jc;
    }
    
    .copyNav{
        @include fxrow-ac-jc;
        margin-bottom: 5px;
        
        &__lnk {
            margin:0 10px;
            color: #fff;
            text-decoration: underline;
            
            &:hover{
                text-decoration: none;
            }
        }
    }
}

@media (min-width: $bp-md){
    .copyWrap{
        .copyBody{
            @include fxrow-ac-jsb;
        }
    }
}