/*
_layout.scss
*******************************************************************************************************************/

/*  .l-wrapper
-------------------------------------------------- */
.l-wrapper {
    position: relative;
    overflow: hidden;
}

/*  ***Wrap
-------------------------------------------------- */
[class*="Wrap"] {padding: 30px 0;}

@media (min-width: $bp-md) {[class*="Wrap"] {padding: 120px 0;}}
@media (min-width: $bp-lg) {[class*="Wrap"] {padding: 120px 0;}}

/*  .l-container
-------------------------------------------------- */
.l-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    padding-right: $container-p;
    padding-left: $container-p;
    position: relative;
}

.l-container--fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    padding-right: $container-p;
    padding-left: $container-p;
    position: relative;
}


/* -----------------------------------------------
/* topPage     [h-***]
-------------------------------------------------- */
/* #h-MISSION
-------------------------------------------------- */
#h-MISSION .missionWrap{
    position: relative;
    padding: 35px 0 !important;
}

@media (min-width: $bp-md) {
    #h-MISSION .l-container{
        max-width: 800px;
    }
}

/* #h-ABOUT
-------------------------------------------------- */
#h-ABOUT .aboutWrap{
    
}

@media (min-width: $bp-md) {
    #h-ABOUT .l-container{
        max-width: 800px;
    }
}