/*
_layout.scss
*******************************************************************************************************************/

/*  .l-wrapper
-------------------------------------------------- */
.l-wrapper {
    position: relative;
    overflow: hidden;
}

/*  ***Wrap
-------------------------------------------------- */
[class*="Wrap"] {padding: 30px 0;}

@media (min-width: $bp-md) {[class*="Wrap"] {padding: 120px 0;}}
@media (min-width: $bp-lg) {[class*="Wrap"] {padding: 120px 0;}}

/*  .l-container
-------------------------------------------------- */
.l-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    padding-right: $container-p;
    padding-left: $container-p;
    position: relative;
}

.l-container--fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    padding-right: $container-p;
    padding-left: $container-p;
    position: relative;
}



/* -----------------------------------------------
/* topPage     [h-***]
-------------------------------------------------- */
/* #h-MISSION
-------------------------------------------------- */
#h-MISSION .missionWrap{
    position: relative;
    padding: 35px 0 !important;
}

@media (min-width: $bp-md) {
    #h-MISSION .l-container{
        max-width: 800px;
    }
}

/* #h-SERVICE
-------------------------------------------------- */
#h-SERVICE .serviceWrap{
    
    .serviceContent{
        padding: 200px 0px;
        background-color: #f7f7f7;
    }
    

}

@media (min-width: $bp-md) {
    #h-SERVICE .serviceWrap{
        
    }
}

/* #h-CONTACT
-------------------------------------------------- */
#h-CONTACT .contactWrap{
    padding:25px 0 !important;
    color: #fff;
    background-color: #b40015;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23922222' fill-opacity='0.75' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    
    .l-container{
        max-width: 800px;
    }
}

/* #h-PLAN
-------------------------------------------------- */
#h-PLAN .h-planWrap{
    background-color: $color-g1;
}

/* #h-SEMINAR
-------------------------------------------------- */
#h-SEMINAR {@include bgimg--cv("../../images/seminar--bg.jpg");}

#h-SEMINAR .h-seminarWrap{
    color: #fff;
    background-color: rgba(180, 48, 48, 0.692);
    height: inherit;
}

/* #h-PURPOSE
-------------------------------------------------- */
#h-PURPOSE .h-purposeWrap{
    background-color: $color-g2;
}

/* #h-METHOD
-------------------------------------------------- */
#h-METHOD .h-methodWrap{
    background-color: $color-g2;
}

